<a href="https://colab.research.google.com/github/L-Rittmeister/U1_Team/blob/main/Copy_of_TL_P1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Práctica #1: Modelo para predicción de lluvia**

*Centro Universitario de Ciencias Exactas e Ingenierías*

*División de Tecnologías para la Integración Ciber-Humana*

*Ingeniería Biomédica*

<br>

*Mtra. Sofía Alejandra Aguilar Valdez*

2 de septiembre de 2022

## **Información del equipo**

```NOMBRES:``` \\
Victor Alvarado Aparicio \\
Dayana Analy Pacheco Bañuelos \\
Leonardo Juàrez Zucco

```CÓDIGOS:``` \\
215767685 \\
217535226 \\
220285869

```LINK REPOSITORIO:``` https://github.com/L-Rittmeister/U1_Team.git

## **Contenido**



1.   Resumen
2.   Marco teórico
3.   Objetivos
4.   Materiales y métodos
5.   Resultados
6.   Discusión
7.   Conclusiones
8.   Referencias

# **1. Resumen**
(100-300 palabras)

# **2. Marco teórico**
(300-800 palabras)

# **3. Objetivos**
Objetivo general y objetivos específicos

# **4. Materiales y métodos**

## *Materiales*

Describir este conjunto de datos [[1]](https://www.kaggle.com/code/fatmakursun/rain-forecasting-with-artificial-neural-network/data).

## *Métodos*

1. Esquema de metodología
2. Descripción de los métodos y su implementación en código en forma de narrativa.

In [ ]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
# Bibliotecas
import pandas as pd
import numpy as np
from numpy import sqrt
from numpy import vstack
import matplotlib.pyplot as plt
import seaborn as sns
import random
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, mean_squared_error, confusion_matrix, classification_report
from sklearn.metrics import roc_curve
from tqdm.notebook import trange, tqdm
import time
import torch
from torch import nn
from torch.nn.functional import normalize
from torchvision import datasets, transforms
import torch.utils.data as data
from torch.utils.data import Dataset
import torch.nn.functional as F
from torch import optim
from torch.optim import SGD
from torchvision import datasets, transforms
from torch.utils.data import random_split, DataLoader
from torch.nn.modules.activation import ReLU
from torch.nn.init import kaiming_uniform_
from torch.nn.init import xavier_uniform_
from datetime import datetime

In [2]:
!git version

git version 2.17.1

In [3]:
!git config --global user.email “victor.alvarado7676@alumnos.udg.mx”

In [4]:
!git config --global user.name “L-Rittmeister”

In [5]:
!ls

sample_data

In [6]:
!git clone https://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@github.com/L-Rittmeister/U1_Team.git

Cloning into 'U1_Team'...
remote: Enumerating objects: 39, done.
remote: Counting objects: 100% (39/39), done.
remote: Compressing objects: 100% (27/27), done.
remote: Total 39 (delta 14), reused 24 (delta 7), pack-reused 0
Unpacking objects: 100% (39/39), done.

In [7]:
!ls

sample_data  U1_Team

In [8]:
%cd U1_Team/

/content/U1_Team

In [9]:
!pwd

/content/U1_Team

In [10]:
!ls

Copy_of_TL_P1.ipynb  dummy.md  README.md  seattleWeather_1948-2017.csv

In [11]:
!git checkout main

Already on 'main'
Your branch is up to date with 'origin/main'.

In [12]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

In [13]:
!git pull

Already up to date.

In [14]:
!ls

Copy_of_TL_P1.ipynb  dummy.md  README.md  seattleWeather_1948-2017.csv

In [15]:
torch.randn(5).cuda()

tensor([ 1.8765,  0.2068,  0.5061, -1.9000, -0.3458], device='cuda:0')

In [16]:
# Train, Val split
data = pd.read_csv('seattleWeather_1948-2017.csv')

In [17]:
data

             DATE  PRCP  TMAX  TMIN   RAIN
0      1948-01-01  0.47    51    42   True
1      1948-01-02  0.59    45    36   True
2      1948-01-03  0.42    45    35   True
3      1948-01-04  0.31    45    34   True
4      1948-01-05  0.17    45    32   True
...           ...   ...   ...   ...    ...
25546  2017-12-10  0.00    49    34  False
25547  2017-12-11  0.00    49    29  False
25548  2017-12-12  0.00    46    32  False
25549  2017-12-13  0.00    48    34  False
25550  2017-12-14  0.00    50    36  False

[25551 rows x 5 columns]

In [18]:
data.dropna(inplace=True)

In [19]:
data

             DATE  PRCP  TMAX  TMIN   RAIN
0      1948-01-01  0.47    51    42   True
1      1948-01-02  0.59    45    36   True
2      1948-01-03  0.42    45    35   True
3      1948-01-04  0.31    45    34   True
4      1948-01-05  0.17    45    32   True
...           ...   ...   ...   ...    ...
25546  2017-12-10  0.00    49    34  False
25547  2017-12-11  0.00    49    29  False
25548  2017-12-12  0.00    46    32  False
25549  2017-12-13  0.00    48    34  False
25550  2017-12-14  0.00    50    36  False

[25548 rows x 5 columns]

# **5. Resultados**
(300-800 palabras, incluir mínimo 2 figuras).

# **6. Discusión**
Underfitting, overfitting, o no y el porqué
Comparación de su metodología con literatura asociada

# **7. Conclusiones**
(100-300 palabras).

# **8. Referencias**

[1] Pb, V. (2020, February 18). Perceptron. Kaggle. Retrieved June 1, 2022, from https://www.kaggle.com/code/prashfio/perceptron/notebook