# **Práctica #1: Modelo para predicción de lluvia**

*Centro Universitario de Ciencias Exactas e Ingenierías*

*División de Tecnologías para la Integración Ciber-Humana*

*Ingeniería Biomédica*

<br>

*Mtra. Sofía Alejandra Aguilar Valdez*

2 de septiembre de 2022

## **Información del equipo**

```NOMBRES:``` \\
Victor Alvarado Aparicio \\
Dayana Analy Pacheco Bañuelos \\
Leonardo Juàrez Zucco

```CÓDIGOS:``` \\
215767685 \\
217535226 \\
220285869

```LINK REPOSITORIO:``` https://github.com/L-Rittmeister/U1_Team.git

## **Contenido**



1.   Resumen
2.   Marco teórico
3.   Objetivos
4.   Materiales y métodos
5.   Resultados
6.   Discusión
7.   Conclusiones
8.   Referencias

# **1. Resumen**
En este trabajo se pretendía realizar un modelo de predicción de la lluvia utilizando datos de la estación meteorológica del aeropuerto de Seattle, para este modelo teorizamos utilizar 4 entradas de información para las 4 variables con las que contábamos que eran la probabilidad de precipitación, las temperaturas máxima y mínima y una confirmación si llovió o no con una capa oculta. La metodología utilizada empieza primero con la descargar datos, después la construcción del modelo con las entradas y variables mencionadas antes, además declaramos la función de costo nn.CrossEntropyLoss(), y también un algoritmo de optimización optim.SGD(model.parameters(), lr=0.001), para el ajuste de parámetros de la red, por último el entrenamiento del modelo y la evaluación de este. Sin embargo, en la parte de la evaluación de la red aparentemente se logra hacer que funcione, pero no logramos revisar los resultados.

# **2. Marco teórico**
(300-800 palabras)

# **3. Objetivos**

Objetivo general y objetivos específicos es procesar los datos y crear los objetos e instancias necesarios para poder hacer correr este modelo. Crear un modelo de red neuronal que sea capaz de predecir si llovera o no en Seattle, Washington, USA, utilizando los datos de la estacion meteorologica del aeropuerto de Seattle. Entrenar el modelo con los datos de entrenamiento y probarlo con los datos de prueba. Evaluar el modelo y ver que tan bueno es.

# **4. Materiales y métodos**

## *Materiales*

Describir este conjunto de datos [[1]](https://www.kaggle.com/code/fatmakursun/rain-forecasting-with-artificial-neural-network/data).

## *Métodos*

1. Esquema de metodología
2. Descripción de los métodos y su implementación en código en forma de narrativa.

In [2]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Bibliotecas
import pandas as pd
import numpy as np
from numpy import sqrt
from numpy import vstack
import matplotlib.pyplot as plt
import seaborn as sns
import random
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, mean_squared_error, confusion_matrix, classification_report
from sklearn.metrics import roc_curve
from tqdm.notebook import trange, tqdm
import time
import torch
from torch import nn
from torch.nn.functional import normalize
from torchvision import datasets, transforms
import torch.utils.data as data
from torch.utils.data import Dataset
import torch.nn.functional as F
from torch import optim
from torch.optim import SGD
from torchvision import datasets, transforms
from torch.utils.data import random_split, DataLoader
from torch.nn.modules.activation import ReLU
from torch.nn.init import kaiming_uniform_
from torch.nn.init import xavier_uniform_
from datetime import datetime

In [4]:
!git version

git version 2.17.1

In [5]:
!git config --global user.email “victor.alvarado7676@alumnos.udg.mx”

In [6]:
!git config --global user.name “L-Rittmeister”

In [7]:
!ls

drive  sample_data

In [8]:
!git clone https://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@github.com/L-Rittmeister/U1_Team.git

Cloning into 'U1_Team'...
remote: Enumerating objects: 86, done.
remote: Counting objects: 100% (86/86), done.
remote: Compressing objects: 100% (63/63), done.
remote: Total 86 (delta 45), reused 46 (delta 17), pack-reused 0
Unpacking objects: 100% (86/86), done.

In [9]:
!ls

drive  sample_data  U1_Team

In [10]:
%cd U1_Team/

/content/U1_Team

In [11]:
!pwd

/content/U1_Team

In [12]:
!ls

Copy_of_TL_P1.ipynb  dummy.md  README.md  seattleWeather_1948-2017.csv

In [13]:
!git checkout main

Already on 'main'
Your branch is up to date with 'origin/main'.

In [14]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

In [15]:
!git pull

Already up to date.

In [16]:
!ls

Copy_of_TL_P1.ipynb  dummy.md  README.md  seattleWeather_1948-2017.csv

In [17]:
torch.randn(5).cuda()

tensor([-0.2829,  0.4526,  0.3263,  0.1746, -0.2132], device='cuda:0')

In [18]:
# Train, Val split
data = pd.read_csv('seattleWeather_1948-2017.csv')

In [19]:
data

             DATE  PRCP  TMAX  TMIN   RAIN
0      1948-01-01  0.47    51    42   True
1      1948-01-02  0.59    45    36   True
2      1948-01-03  0.42    45    35   True
3      1948-01-04  0.31    45    34   True
4      1948-01-05  0.17    45    32   True
...           ...   ...   ...   ...    ...
25546  2017-12-10  0.00    49    34  False
25547  2017-12-11  0.00    49    29  False
25548  2017-12-12  0.00    46    32  False
25549  2017-12-13  0.00    48    34  False
25550  2017-12-14  0.00    50    36  False

[25551 rows x 5 columns]

In [20]:
data.dropna(inplace=True)

In [21]:
data

             DATE  PRCP  TMAX  TMIN   RAIN
0      1948-01-01  0.47    51    42   True
1      1948-01-02  0.59    45    36   True
2      1948-01-03  0.42    45    35   True
3      1948-01-04  0.31    45    34   True
4      1948-01-05  0.17    45    32   True
...           ...   ...   ...   ...    ...
25546  2017-12-10  0.00    49    34  False
25547  2017-12-11  0.00    49    29  False
25548  2017-12-12  0.00    46    32  False
25549  2017-12-13  0.00    48    34  False
25550  2017-12-14  0.00    50    36  False

[25548 rows x 5 columns]

In [22]:
#Convert all values to floats
DataF[["PRCP"]] = DataF[["PRCP"]]*100
DataF = DataF.astype(np.float32)
DataF

NameError: ignored

In [23]:
#Create Pyytorch Dataset class to load the data
class RainDataset(Dataset):
    def __init__(self, data):
        self.data = data
        self.len = len(data)
        self.x_data = torch.from_numpy(data[['PRCP', 'TMAX', 'TMIN']].values)
        self.y_data = torch.from_numpy(data[['RAIN']].values)
    def __getitem__(self, index):
        return self.x_data[index], self.y_data[index]
    def __len__(self):
        return self.len

In [29]:
#Create the dataset
create the dataset
dataset = RainDataset(DataF)

SyntaxError: ignored

In [30]:
#Dataset to train and test the model
train_size = int(0.8 * len(dataset))
test_size = len(dataset) - train_size
train_dataset, test_dataset = random_split(dataset, [train_size, test_size])

NameError: ignored

In [31]:
#Create the dataloaders
train_loader = DataLoader(dataset=train_dataset, batch_size=500, shuffle=False)
test_loader = DataLoader(dataset=test_dataset, batch_size=500, shuffle=False)

NameError: ignored

In [ ]:
#Create the model with 4 inputs 1 hidden layer with 3 neurons and 1 output
class Model(nn.Module):
    def __init__(self,):
        super(Model, self).__init__()
        self.hidden1 = nn.Linear(in_features=3, out_features=3, bias=True)
        kaiming_uniform_(self.hidden1.weight, nonlinearity='relu')
        self.act1 = ReLU()
        self.hidden2 = nn.Linear(in_features=3, out_features=1, bias=True)
        xavier_uniform_(self.hidden2.weight)
        self.act2 = ReLU()
    def forward(self, X):
        X = self.hidden1(X)
        X = self.act1(X)
        X = self.hidden2(X)
        X = self.act2(X)
        return X

In [ ]:
#Define the model
model = Model().cuda()
#Define the loss function
criterion = nn.CrossEntropyLoss()
#Define the optimizer
optimizer = optim.SGD(model.parameters(), lr=0.001)

In [ ]:
#Define the training function
def train(model, train_loader, criterion, optimizer, epochs):
    model.train()
    for epoch in range(epochs):
        for batch_idx, (data, target) in enumerate(train_loader):
            data, target = data.cuda(), target.cuda()
            optimizer.zero_grad()
            output = model(data)
            loss = criterion(output, target.long())
            loss.backward()
            optimizer.step()
            if batch_idx % 100 == 0:
                print('Train Epoch: {} [{}/{} ({:.0f}%)]\tLoss: {:.6f}'.format(
                    epoch, batch_idx * len(data), len(train_loader.dataset),
                    100. * batch_idx / len(train_loader), loss.item()))

In [ ]:
#train the model
train(model, train_loader, criterion, optimizer, 10)

In [ ]:
#Test the model
def test(Model, Test_loader, Loss):
    Model.eval()
    test_loss = 0
    correct = 0
    with torch.no_grad():
        for sample in tqdm(Test_loader):
            #data, target = sample['data'].cuda(), sample['target'].cuda()
            data = sample.cuda()
            output = Model(data.float())
            test_loss += Loss(output, Target).item()  # sum up batch loss
            pred = output.argmax(dim=1, keepdim=True)  # get the index of the max log-probability
            correct += pred.eq(Target.view_as(pred)).sum().item()

    test_loss /= len(Test_loader.dataset)

    print('\nTest set: Average loss: {:.4f}, Accuracy: {}/{} ({:.0f}%)\n'.format(
        test_loss, correct, len(Test_loader.dataset),
        100. * correct / len(Test_loader.dataset)))

In [ ]:
train_model(train_loader, model, criterion, optimizer, epochs=5)

# **5. Resultados**
(300-800 palabras, incluir mínimo 2 figuras).

# **6. Discusión**
Underfitting, overfitting, o no y el porqué
Comparación de su metodología con literatura asociada

# **7. Conclusiones**
En particular Este trabajo demoestró una complejidad y un desafio en la implementacion de redes neuronales en la plataforma pytorch y si bien los resultados no fueron satisfactorios fue una buena experiencia para aprender a utilizar esta plataforma y sus herramientas.

Al finalizar el modelo de predicción de la lluvia no se cumplieron los objetivos tal cual se esperaba, sin embargo fue un reto trabajar con este tipo de ANN en múltiples capas y la red neuronal, además para aterrizar lo aprendido y aprender a usar git hub, me pareció una experiencia bien.

# **8. Referencias**

[1] Pb, V. (2020, February 18). Perceptron. Kaggle. Retrieved June 1, 2022, from https://www.kaggle.com/code/prashfio/perceptron/notebook